{% extends "layout.html" %}
{% block title %} Recipes{% endblock %}
{% block page %} {{ current_user.username }}'s Recipes{% endblock %}

{{ super() }}

{% block content %}
 {% if current_user.is_authenticated %}
  <div class="container">
    <div class="row">
      <table>
        <thead>
          <tr>
            <td>Ingredient</td><td>Amount</td><td>Bought</td><td></td>
          </tr>
        </thead>
        <tbody>
          {% for ingredient in ingredients %}
            <tr>
              <td>{{ ingredient.name }}</td>
              <td>
                {{ ingredient.amount }}
              </td>
              <td>
                <form>
                  <p>
                    <label>
                      <input type="checkbox" class="filled-in" />
                      <span id="status">
                        {% if ingredient.checked %}
                          Yes
                        {% else %}
                          No
                        {% endif %}
                      </span>
                      
                    </label>
                  </p>
                </form>
              </td>
              <td>
                <!--<a class="waves-effect red waves-orange btn" href="/ingredient/{{ingredient.id}}"> Delete</a>
                -->
                <form action="/ingredient/{{ingredient.id}}" method="POST">
                    <input class="waves-effect red waves-orange btn" type="submit" value="Delete">
                </form>
        
                <a class="waves-effect red waves-orange btn" href="/editIngredient/{{ingredient.id}}">Edit</a>
                
              </td>
              
            </tr>
          {% endfor %}
        <tbody>
      </table>
    </div>

    <div class="row">
      <form class="col s12 m8 offset-m2 card-panel" method="POST" action="/ingredients">
            {{ form.csrf_token }}

            <div class="input-field col s12 m8 offset-m2"> 
              {{ form.name(size=200, class="validate materialize-textarea") }}
              {{ form.name.label }}
            </div>
            <div class="input-field col s12 m8 offset-m2"> 
              {{ form.amount }}
              {{ form.amount.label }}
            </div>
            <div class="input-field col s12 m8 offset-m2">
              {{form.submit}}
            </div> 
        </form>
    </div>

  <!--
   <script>
      async function delete(id){
  let result = await sendRequest(`${server}/ingredients/${id}`, 'DELETE');

  toast('Deleted!');

  loadView();
}
    </script>  
 -->
 

  {% endif %} 
{% endblock %}
